/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-small{
    max-width: 1200px;
    margin: auto;
}

.header-box{
    background-color: black;
    flex-direction: row;
    display: flex;
    padding: 10px 5px;
}

.fa-solid, .fa-record-vinyl, .fa-pause, .fa-play, .recording, .fa-shield, .view{
    color: white;
    padding: 0 5px;
}

.user-box{
    width: 200px;
    height: 200px;
    background-color: red;
}

.img-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-box{
    margin: 5px 5px;
}

footer{
    background-color: black;
    height: 100px;
}